.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}
html{
    font-size:12px;
}
body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    overflow-x: hidden;
}
.master
{
   margin: 0 auto;
   width: 100%;
}
.first
{
    height: 160px;
}
.headlinks{
    float: left;
    border-radius: 40%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3%;
    font-size: 1.4em;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 60px;
    text-align: center;
    color:rgba(4,29,70);
    border-radius: 50px;
    margin-top: 7%;
    border: none;
}
.pink{
    float: left;
    border: none;
    border-radius: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #fff;
    cursor: pointer;
    width: 30%;
    height: 60px;
    text-align: center;
    padding: 0;
    border-radius: 50px;
    margin-top: 7%;
    border: 1px solid #DD688C;
}
#violet
{
    color:  #AD78E8;
}
.left
{
    float: left;
    width: 40%;
    height: 160px;
}

.left .imgg
{
    height:85px;
    width: 64px;
}
.left img
{
    padding-top:50%;
    padding-left:100%;
    height: 100%;
    width: 100%;
}
.right
{
    float: right;
    width:50%;
    height: 160px;
}
.left2{
    width: 55%;
    margin-top: 20px;
    float: left;
    margin-left:140px;
}
.left2 h1{
    color: #5551FD;
    font-size: 2.8em;
}
.left2 p{
    color:rgba(4,29,70);
    font-size: 1.2em;
    line-height: 32px;
}
.left2 button{
    background-color:rgba(4,29,70);
    color: #fff;
    width: 27%;
    height: 60px;
    text-align: center;
    position: relative;
    left: 139px;
    float: left;
    font-weight: bold;
    border-radius: 40px;
   font-size: 1.4em;
    border: none;
}
.right2{
    width:20%;
    float: left;
    height: 100px;
    margin-left: 110px;
}
.side2 img{
    height: 100%;
    width: 100%;
}
.side2{
    height: 30%;
    width: 30%;
    position: relative;
    bottom: 130px;
    right: 140px;
}
.square{
    height: 10%;
    width: 10%;
    position: relative;
   left: 520px;
   bottom: 150px;
}
.square img{
    height: 100%;
    width: 100%;
}
.side1
{
    padding-left:100px;
}

.rec{
    height: 18%;
    width: 18%;
    float: right;
    position: relative;
    right: 60px;
    bottom:50px;
}
.rec img
{
    height: 100%;
    width: 100%;
}
.twoside{
   margin-top: 70px;
}
.img1{
   
    z-index: -1;
    position: relative;
    top: 60px;
    left: -90px;
}
.img2{
    z-index: 0;
    position: relative;
    top: -370px;
    right: -140px;
}
.img3{
    z-index: 10;
    position: relative;
    top: -670px;
    right: 100px;
}
.pic1 img{
    height: 160%;
    width: 160%;
}
.pic2 img{
    height: 100%;
    width: 100%;
}
.pic3 img{
    height: 140%;
    width: 140%;
}
.small1{
    float: left;
    height: 7%;
    width: 7%;
    position: relative;
    top: -70px;

}
.small2{
    float: right;
    height: 22%;
    width: 22%; 
    position: relative;
    top: -110px;
    right: 210px;
}
.small1 img{
    height: 100%;
    width: 100%;
}
.small2 img{
    height: 100%;
    width: 100%;
}

.twosec{
    width: 93%;
    height: 460px;
    background-color: #F6F4FF;
    box-shadow: 0px 0px 2px 1px  #ebe9e9;
    float: right;
    clear: both;
    position: relative;
    bottom:160px;
}
.mobile{
    width: 30%;
    position: relative;
    bottom:5px;
    left: 75px;
    float: left;
}
.mobile .cover{
    width: 75%;
    height: 32%;
    position: relative;
    bottom: 150px;
    background-color: rgb(54, 54, 54);
    border: 3px solid rgb(54, 54, 54);
    border-radius:32px;
}
.mobile .cover img{
    z-index: -1;
    width: 100%;
    height: 100%;
}
.mobile .phone{
    width: 68%;
    height: 47%;
    position: relative;
    bottom: 720px;
    left: 16px;
}
.mobile .phone img{
    z-index: 1;
    width: 100%;
    height: 100%;
}
.line4{
    position: relative;
    bottom: 1170px;
    left: 289px;
}
.line1{
    position: relative;
    bottom: 1190px;
    right: 4px;
}
.line2{
    position: relative;
    bottom: 1149px;
    right: 12px;
}
.line3{
    position: relative;
    bottom: 1110px;
    right: 19px;
}
.camera{
    width: 8px;
    height: 8px;
    position: relative;
    bottom: 130px;
    left: 167px;
    z-index: 20;
}
.camera .click{
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 13px;
    left: 12px;

  
}
.camera .light{
    position: relative;
    right: 48px;
}
.write{
    width: 70%;
    float: right;
}
.write h1{
    font-size: 3em;
    color:rgba(4,29,70);
    margin-top: 70px;
    margin-left: 200px;
}

.write p{
    font-size: 1.1em;
    color:rgba(4,29,70);
    margin-left: 200px;
    line-height: 2.2em;
    font-weight:900;
}
.twoelement
{
    clear: both;
}
.angle1{
    width:9%;
    height: 9%;
    float: left;
    position: relative;
    bottom: 250px;
    left: 30px;
    z-index: -2;
}
.angle2{
    width: 9%;
    height: 9%;
    float: right;
    position: relative;
    bottom: 200px;
    z-index: -2;
    right: 20px;
}
.angle1 img{
    width: 100%;
    height: 100%;
}
.angle2 img{
    width: 100%;
    height: 100%;
}
.both
{
    width: 93%;
    height: 460px;
    background-color: #F6F4FF;
    box-shadow: 0px 1px 2px 0px  #ebe9e9;
    z-index: -1;
    clear: both;
    position: relative;
    bottom:230px;
}
.read
{
    width: 32%;
    float: left;
    margin-left: 50px;
    margin-top: 60px;
}
.read h1{
    font-size: 3em;
    color:rgba(4,29,70);
}
.read p{
    font-size: 1.1em;
    color:rgba(4,29,70);
    font-weight:900;
    font-weight:900;
    line-height: 2.2em;
}
.graph
{
    width: 58%;
    float: right;
}
.graph img{
    height: 100%;
    width: 100%;
    position: relative;
    bottom: -90px;
    left: -30px;
    z-index:3;
}
.circle1{
    height: 9%;
    width: 9%;
    position: relative;
    bottom: 295px;
    left: 160px;
    z-index: 0;
}
.circle2{
    height: 9%;
    width: 9%;
    position: relative;
    bottom: 110px;
    right: 25px;
    z-index: 0;
}
.circle3{
    height: 9%;
    width: 9%;
    position: relative;
    bottom: 190px;
    left: 330px;
    z-index: 0;
}
.circle4{
    height: 9%;
    width: 9%;
    position: relative;
    bottom: 390px;
    left:675px;
    z-index: 0;
}
.circle1 img{
    height: 100%;
    width: 100%;
}
.circle2 img{
    height: 100%;
    width: 100%;
}
.circle3 img{
    height: 100%;
    width: 100%;
}
.circle4 img{
    height: 100%;
    width: 100%;
}
.footer{
    width: 100%;
    height: 130px;
    background-color: rgba(4,29,70);
}
.footer h3{
    margin: 0 auto;
    text-align: center;
    float: right;
    position: relative;
    right: -197px;
    bottom: -90px;
    color: #fff; 
    font-weight: bold;
}
.footer h4{
    font-weight: bold;
    color: #fff; 
  margin-left: 70px;
  font-size: 14px;
  position: relative;
  top:35px;
}
@media only screen and (max-width:426px){
html{
     width: 150%;
     height: 100%;
    overflow-x:hidden;
    font-size:9px;
}
.first .right #normal{
   position: relative;
}
.pink{
    width: 150px;
    position: relative;
}
.imgg{
    position: relative;
    bottom: 15%;
}
.left2 .twoside .side1{
    min-width: 100%;
    height: 100%;
    position: relative;
    left: -130px;
    bottom: 140px;
}
.phone{
    position: relative;
    top: 0px;
}
.pic3{
    position: relative;
}
.second{
    width: 100%;
}
.headlinks{
    position: relative;
    right: 140px;
}
#violet{
    position: relative;
    left: 160px;
    bottom: 85px;
}
.side1 button{
    width: 40%;
    position: relative;
    right: 40%;
    bottom: -40px;
}
.side2 img{
    position: relative;
    bottom: 150px;
}
.cover{
    position: relative;
    right: -7px;
    top: 5px;
}
.phone{
    position: relative;
    padding-right: 200px;
    top: -265px;
}
.write{
    width: 100%;
    position: relative;
    bottom: 655px;
}
.mobile{
    position: relative;
    left: 15px;
    top: -40px;
}
.twosec{
   
    height:270px;
      position: relative;
       bottom: -105px;
}
.img1{
position: relative;
top: -330px;
left: 120px;
}
.pic2{
    position: relative;
top: -150px;
left: 70px;
}

.img3{
    position: relative;
    right: -120px;
    }
  
    .both{
       margin-top: 95px;
       height:300px;
       height: 400px;
       position: relative;
       bottom: -30px;
    }
    .angle2{
        margin-top: 40px;
        position: relative;
        bottom: -50px;
    }
    .angle1{
        margin-top: 10px;
        position: relative;
        bottom: -70px;
    }
   .graph{
        position: relative;
        top: 150px;
        right: 130px;
   }
   .circle1{
    position: relative;
    bottom: 140px;
    margin-left: -70px;
   }
   .circle2{
    position: relative;
    bottom: 55px;
    right:14px;
   }
   .circle3{
    position: relative;
    bottom: 150px;
    margin-left: -3px;
   }
   .circle4{
    position: relative;
    left: 100px;
    top: -120px;
   }
   .threeline{
      position: relative;
      bottom: -690px;
      left:9px;
   }
   .left2 p {
    text-align: justify;
}
.line4{
    position: relative;
    top: -500px;
    margin-left: -145px;
}
.rec{
    position: relative;
    top: -65px;
    right: 210px;
}
.small1 img{
    position: relative;
    bottom: -55px;
    right: 79px;
    position: relative;
    top: 320px;
}
   .small2 img{
  position: relative;
  top: 340px;
   }
   .camera{
       position: relative;
       bottom: -25px;
       margin-left: -79px;
   }
  .footer{
      position: relative;
      top: 540px;
  }
    .footer h3{
        position: relative;
        left: -270px;
        font-size:1.3em;
        font-weight: 600;
    }
    .side1{
        padding-top: 100px;
    }
    .right2{
      position: relative;
      bottom: -90px;
    }
    }
@media only screen and (max-width:770px ) and (min-width:427px){
    html{
        font-size: 10px;
    }
.imgg{
    position: relative;
    bottom: 30px;
}
.pink{
    position: relative;
    left: 350px;
    bottom: 90px;
    width: 40%;
}
.left2 .twoside .side1{
    min-width: 100%;
    height: 100%;
    position: relative;
    left: -130px;
    bottom: 140px;
}
.side1 button{
    width: 40%;
    position: relative;
    right: 40%;
    bottom: -40px;
}
.side2 img{
    position: relative;
    bottom: 190px;
    left: -10px;
}
.left2 p {
    text-align: justify;
}
.img1{
    position: relative;
    top: -250px;
    left: 120px;
    }
    .pic2{
        position: relative;
    top: -120px;
    left: 70px;
    }
    
    .img3{
        position: relative;
        right: -120px;
     
        }
    .right2{
        position: relative;
        left: 450px;
        bottom: 390px;
    }
    .square{
        position: relative;
        left: 370px;
        top: -200px;
    }
    
    .phone{
        position: relative;
       margin-left: -55px;
        top: -475px;
    
    }
    .cover{
        position: relative;
        right: 50px;
    }
    .camera{
      margin-right: 40px;
      position: relative;
      left: 50px;
    }
    .twosec{
        height: 300px;
    }
    .mobile{
        position: relative;
        top: 79px;
    }
    .threeline{
        position: relative;
        bottom: -425px;
        left:-49px;
      
     }
     .small1{
         position: relative;
         right: 79px;
         margin-top: 150px;
     }
     .write{
         position: relative;
         bottom: 20px;
     }
     .small2{
        position: relative;
        top: 60px;
     }
     .angle1{
         margin-top: 50px;
     }
     .angle2{
         margin-top: 20px;
     }
     .line4{

        margin-top: 400px;
        margin-left: -173px;
     }
     .twoside{
         position: relative;
         top:170px;
     }
     .square{
        width: 30%;
     }
     .rec{
        width: 30%;
     }
     .graph{
         position: relative;
         bottom: -20px;
         right: 120px;
     }
    .read{
        width: 100%;
        height: 20%;
    }
    .circle3 img{
        position: relative;
        bottom: -170px;
        margin-left: -120px;
    }
    .circle4 img{
       margin-bottom: -200px;
       margin-left: -290px;
    }
    .circle2 img{
        position: relative;
        bottom: -140px;
    }
    .circle1 img{
        position: relative;
        bottom: -220px;
        margin-left: -70px;
    }
    .footer h3{
        position: relative;
        left: -350px;
    }
    .both{
        position: relative;
        top: -250px;
    }
   .footer{
       position: relative;
       top: 50px;
   }
}
@media only screen and (max-width:1025px ) and (min-width:771px){
    .imgg{
        position: relative;
        bottom: 30px;
    }
    .pink{
        position: relative;
        left: 400px;
        bottom: 100px;
    }
   .img3{
    margin-top: 170px;
   }
   .img2{
       position: relative;
       right: -40px;
       top: -260px;
   }
   .phone{
       position: relative;
       top: -590px;
   }
   .threeline{
    position: relative;
    bottom: -300px;
    left:1px;
 }
 .line4{
    margin-top: 240px;
    margin-left: -69px;
 }
 .circle3 img{
    position: relative;
    bottom: -150px;
    margin-left: -120px;
}
.circle4 img{
   margin-bottom: -200px;
   margin-left: -150px;
}
.circle2 img{
    position: relative;
    bottom: -120px;
}
.circle1 img{
    position: relative;
    bottom: -160px;
    margin-left: -70px;
}
.footer h3{
    position: relative;
    left: -450px;
}

.camera{
    position: relative;
    left: 130px;   
    top: -135px;
}
}
@media only screen and (max-width:1345px ) and (min-width:1026px){
    .img2{
        position: relative;
        right: -130px;
        top: -410px;  
    }
    .phone{
        position: relative;
        top: -760px;
    }
.circle1 img{
    position: relative;
    bottom: -70px;
}
    .circle4{
        padding-left: 50px;
    }
}